@import url('./typography.css');
@import url('./resets.css');
@import url('./fonts.css');
@import url('./color.css');

body {
    font-family: 'Space Grotesk', sans-serif;
    margin: 0px;
    padding: 0px;
    font-weight: 300;
    visibility: hidden;
    transition: visibility .5s ease-in;
    transition-delay: 1000;
}

header {
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
}
header .logo {
    position: absolute;
    left: 20px;
    max-height: 10px;
    transform: translateX(-10px);
    opacity: 0;
    transition: all .25s ease-in-out;
}
header.sticky {
    position: fixed;
    top: 0;
    bottom: unset;
    background: white;
    width: 100%;
    z-index: 100;
    box-shadow: 4px 0px 15px rgba(0, 0, 0, 0.3);
}
header.sticky .logo {
    position: absolute;
    left: 20px;
    top: 22px;
    max-height: 50px;
    transform: translateX(0px);
    opacity: 1;
}
header nav {
    justify-content: center;
}
nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    width: 300px;
}
nav li {
    flex: 1;
    text-align: center;
}
nav a {
    font-size: 1.25rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
}
a {
    color: inherit;
    transition: all .25s ease-in-out;
}
p a:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    background-color: #111;
}
p a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
p a {
    position: relative;
}
ul {
    padding-left: 1rem;
    text-indent: 0rem;
}
ul.no-bullet {
    text-decoration: none;
    list-style: none;
    padding-left: 0rem;
    text-indent: 0rem;
}

.layout {
    margin: 0 auto;
}
.content {
    min-height: 100vh;
}
.row {
    display: flex;
    flex-direction: row;
}
.col {
    display: flex;
    flex-direction: column;
}
.col-3 {
    width: 32%;
}
.col-3:not(:last-child){
    margin-right: 6.5%;
}
.home .hero > div {
    display: block;
}
.home .hero .logo {
    display: none;
}
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    height: 80vh;
}
.hero h1 {
    margin-top: -10%;
    pointer-events: none;
}
/* About */
#about .text p, #contact .text p {
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 200;
    line-height: 1.4;
}
.portrait {
    width: auto;
    max-width: 100%;
    max-height: 600px;
}

/* Abilities Section */
#ability h2 {
    margin-bottom: 100px;
}
.abilities:first-of-type {
    margin-bottom: 6rem;
}
.ability {
    border: 1px solid #000;
    min-height: 20vW;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 2rem 3rem;
    border-radius: 30px;
    background: var(--yellow);
    position: relative;
    
}
.ability::before, .ability::after {
    background: url('../images/star-4-pts.svg');
    content: "";
    background-size: cover;
    position: absolute;
    width: 50px;
    height: 50px;
}
.ability::before {
    top: -36px;
    right: 0px;
}
.ability::after {
    bottom: -36px;
    left: 0px;
}
.ability h3{
    text-align: center;
    display: block;
}
.ability h3 span{
    display: block;
    font-size: 4rem;
    font-weight: 400;
}
.ability h3 span::after {
    content: '';
    height: 2px;
    width: 50%;
    display: block;
    margin: 2rem auto;
    background: #000;
}
.ability .emoji{
    width: 100px;
    height: 100px;
    position: absolute;
    background: var(--yellow-light);
    border-radius: 100px;
    border: 1px solid #000;
    top: -50px;
    left: -50px;
}
.ability:nth-of-type(1) .emoji::after{
    content: "";
    background: url('../images/emoji-brain.png');
    background-size: cover;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 22px;
    left: 22px;
}
.ability:nth-of-type(2) .emoji::after{
    content: "";
    background: url('../images/emoji-palette.png');
    background-size: cover;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 22px;
    left: 22px;
}
.ability:nth-of-type(3) .emoji::after{
    content: "";
    background: url('../images/emoji-laptop.png');
    background-size: cover;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 22px;
    left: 22px;
}

/* Page CV */
.page-cv img.logo {
    max-width: 120px;
    margin-left: -20px;
    margin-bottom: 20px;
}
.page-cv h4 {
    padding-top: 48px;
}
.page-cv [class *= "layout-module--contentWrapper"] {
    padding-top: 48px;
}
.page-cv strong {
    padding-top: 32px;
    display: block;
}
.page-cv h4 + strong{
    padding-top: 16px;
}
.page-cv .button.print {
    text-align: right;
    float: right;
    display: inline-block;
    background: #fcb707;
    color: black;
    border: 1px solid #000;
    padding: 0.50rem 1rem;
    border-radius: 5px;
    font-family: 'Space Mono';
    font-style: italic;
    transition: all .3s ease-in-out;
}
.page-cv .button.print:hover {
    color: #fcb707;
    background: black;
    border: 1px solid #000;
    padding: 0.50rem 1rem;
    border-radius: 100px;
    font-family: 'Space Mono';
    font-style: italic;
}
iframe {
    border: none;
}

@media screen and (max-width: 1024px) {
    .ability {
        padding-top: 48px;
        margin-bottom: 100px;
    }
    .ability .emoji {
        left: calc(50% - 50px)
    }
}
@media screen and (max-width: 768px) {
    .home .hero > div {
        display: none;
    }
    .home .hero .logo {
        display: block;
        width: 100%;
        margin-left: -15%;
    }
    .home .hero {
        padding: 30px;
        justify-content: space-around;
        height: 90vh;
    }
    .home .hero h1 {
        margin-top: 60px;
        margin: 0 auto;
        text-align: center
    }
    .ability-text:not(:last-of-type) {
        margin-bottom: 30px;
    }

}
@media screen and (max-width: 480px) {
    header nav {
        width: 100%;
        padding: 0 30px;
    }
    header.sticky .logo {
        display: none;
    }
    .col-3, .col-3:not(:last-child) {
        width: 100%;
        margin-right: unset;
    }
    .row {
        flex-direction: column;
    }
    #about .text p, #contact .text p {
        font-size: 22px;
    }
    .abilities:first-of-type {
        margin-bottom: 32px;
    }
    .ability {
        padding-top: 48px;
        margin-bottom: 100px;
    }
    .ability .emoji {
        left: calc(50% - 50px)
    }
    .home .hero {
        padding: 30px;
        justify-content: space-around;
        height: 90vh;
    }
    .home .hero h1 {
        margin-top: 60px;
        margin: 0 auto;
        text-align: center
    }
    .portrait {
        margin-bottom: 30px;
    }
}
@media print {
    .page-cv .button.print {
        display: none;
    }
}

/* Make body visible againg after all CSS has loaded*/
body {
    visibility: visible;
}