@import url('./typography.scss');
@import url('./resets.scss');
@import url('./fonts.scss');
@import url('./color.scss');

body {
    font-family: 'Spline Sans Mono', sans-serif;
    margin: 0px;
    padding: 0px;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
}

header nav {
    display: flex;
    justify-content: center;
}

nav a {
    margin-right: 10%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
}

.layout {
    margin: 0 auto;
}

.content {
    min-height: 100vh;
}
.row {
    display: flex;
}
.col {
    display: flex;
    flex-direction: column;
    &-3 {
        width: 32%;
        &:not(:last-child){
            margin-right: 2%;
        }
    }
}

// Abilities Section
.col.ability {
    display: flex;
    flex-direction: column;
    // background: $yellow;
}
