@import url('./typography.css');
@import url('./resets.css');
@import url('./fonts.css');

body {
    font-family: 'Spline Sans Mono', sans-serif;
    margin: 0px;
    padding: 0px;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
}

header nav {
    display: flex;
    justify-content: center;
}

nav a {
    margin-right: 10%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
}

.layout {
    margin: 0 auto;
}

.content {
    min-height: 100vh;
}
