

.contentSection .contentWrapper {
    max-width: 1200px; 
    margin: 0 auto;
    padding: 8rem 15px 10rem;
    display: flex;
    flex-direction: column;
}
.contentSection .contentWrapperHasCols {
    max-width: 1200px; 
    margin: 0 auto;
    padding: 8rem 15px 10rem;
    display: flex;
    flex-direction: row;
}
.contentSection .contentWrapper.fullScreen {
    max-width: 100%; 
    height: 100vh;
    margin: 0 auto;
    padding: 8rem 15px 10rem;
    display: flex;
    flex-direction: column;
}
.contentSection:nth-child(even) {
    background: #eab412;
}

/* .column2 {
    width: 50%;
    display: block;
} */